@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Oswald:wght@500;700&display=swap');

@theme {
  --font-oswald: 'Oswald', sans-serif;
  --font-mono: 'Space Mono', monospace;
  
  --color-black: #0a0a0a;
  --color-white: #ededed;
  --color-accent: #ff2e00;
  
  --color-gray-800: #1a1a1a;
  --color-gray-900: #0f0f0f;
}

:root {
  --bg-color: #0a0a0a;
  --text-primary: #ededed;
}

body {
  background-color: var(--bg-color);
  background-image: 
    linear-gradient(#1a1a1a 1px, transparent 1px),
    linear-gradient(90deg, #1a1a1a 1px, transparent 1px);
  background-size: 40px 40px;
  color: var(--text-primary);
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
  margin: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}